html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Ubuntu, arial, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}
#wrapper{
	min-height: 100%;
	background-color: #ffffff;
	text-align: center;
  background-image: url(./bg.jpg);
  background-position: 0 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#content{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff00;
  color: #000;
}
#preview_panel{
	position: relative;
	display: inline-block;
	background: #ffffff00;
  border: 0px solid #333;
  height: 100%;
  width: 99%;
}
#download {
    cursor: pointer;
    border-style: none;
    background: none;
}
#download[disabled]{
  opacity: 0.7;
  cursor: not-allowed;
}
.design{
  height: 100px;
  border: 1px solid #CCC;
  cursor: pointer;
}
.design.active{
  border: 1px solid #000;
}
@media screen and (max-width: 970px){
  .design{
    height: 90px;
  }
}
@media screen and (max-width: 881px){
  .design{
    height: 70px;
  }
}
.title {
  width: 50%;
  margin-top: 6vh;
  margin-bottom: 4vh;
}
.file-input-box {
  display: flex;
  flex-direction: row;
}
.file-input-box #no-file {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: 4vh 0 0 -2vw;
  word-spacing: 1px;
}
.file-input {
  margin-left: 1vw;
  margin-top: 3vh;
  margin-bottom: 2vw;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input::before {
  content: url(./button-selectfile.png);
}

.upper-canvas {
-webkit-box-shadow: 1px 0px 38px 12px #000000; 
box-shadow: 1px 0px 38px 12px #000000;
}